/* TODO segment into multiple files */

.rootContainer {
    -fx-background-color: #17212B;
}


/* ----- Sidebar menu == left-most buttons ----- */
.sidebarMenuContainer {
    -fx-background-color: #0E1621;
}

.sidebarMenuItem .label {
    -fx-text-fill: #768c9e;
    -fx-font-size: 12px;
}

.sidebarMenuItem .button {
    -fx-background-color: transparent;
}

.sidebarMenuItem:hover {
    -fx-cursor: hand;
}

.sidebarMenuItem:hover {
    -fx-text-fill: #5EB5F7;
}

.sidebarMenuItemNoFilter .button {
    -fx-graphic: url(../icons/global_icon.png);
}

.sidebarMenuItemNoFilterSelected .button {
    -fx-graphic: url(../icons/global_icon_selected.png);
}

.sidebarMenuItemCurrentFriends .button {
    -fx-graphic: url(../icons/friends_icon.png);
}

.sidebarMenuItemCurrentFriendsSelected .button {
    -fx-graphic: url(../icons/friends_icon_selected.png);
}

.sidebarMenuItemRequests .button {
    -fx-graphic: url(../icons/request_icon.png);
}

.sidebarMenuItemRequestsSelected .button {
    -fx-graphic: url(../icons/request_icon_selected.png);
}

.sidebarMenuItemNewFriend .button {
    -fx-graphic: url(../icons/new_friend_icon.png);
}

.sidebarMenuItemNewFriendSelected .button {
    -fx-graphic: url(../icons/new_friend_icon_selected.png);
}

.sidebarMenuItemLogout .button {
    -fx-graphic: url(../icons/logout_icon.png);
}

.sidebarMenuItemSelected {
    -fx-background-color: #25303E;
}

.sidebarMenuItemSelected .label {
    -fx-text-fill: #5EB5F7;
}

/* ----- END ----- */


/* ----- Where user entries are placed ----- */
.sidebarItemsContainer {
    -fx-background-color: #17212B;
}

.sidebarItem .headerText {
    -fx-font-size: 13px;
    -fx-font-weight: 600; /* Semi bold */
    -fx-text-fill: #FFFFFF;
}

.sidebarItem .descriptionText, .sidebarItem .dateText {
    -fx-font-size: 12px;
    -fx-text-fill: #6F8091;
}

.sidebarItem .leftContainer {
    -fx-padding: 5px 5px 5px 10px;
}

.sidebarItem .rightContainer {
    -fx-padding: 5px 10px 5px 5px;
}

.sidebarItemSelected {
    /* Overrides the next selector (JavaFX's CSS does not have CSS's ':not' selector */
    -fx-background-color: #5288c1 !important;
}

.sidebarItem:hover {
    -fx-background-color: #202b36;
}

.sidebarItemSelected .descriptionText, .sidebarItemSelected .dateText,
.sidebarItem:hover .descriptionText, .sidebarItem:hover .dateText {
    -fx-font-size: 12px;
    -fx-text-fill: #FFFFFF;
}

.context-menu {
    -fx-background-color: #17212B;
}

/* TODO use classes instead of the raw object */
.menu-item .label {
    -fx-text-fill: #FFFFFF;
}

.menu-item:focused {
    -fx-background-color: #202b36;
}

/* ----- END ----- */


/* ----- Where messages are displayed ----- */
.bigText { /* Empty chat warning */
    -fx-font-size: 24px;
    -fx-text-fill: #FFFFFF;
}

.chatContainer {
    -fx-background-color: #0E1621;
}

.incomingMessage {
    -fx-background-color: #2b5278;
    -fx-shape: "m 46.030545,129.18592 h 48.380952 c 3.54546,0.23355 5.32763,-1.59167 5.14193,-4.67449 V 105.1123 c -0.4058, -3.73565 -2.47064, -4.56641 -5.14193, -4.90821 H 50.705033 c -2.572701, 0.2361 -4.604321, 1.68288 -4.674488, 4.90821 v 19.39913 c -0.436089, 3.14572 -2.890695, 3.57304 -4.908212, 4.67449 z ";
}

.outgoingMessage {
    -fx-background-color: #182533;
    -fx-shape: "M 94.658379,129.18587 H 46.277427 c -3.545458,0.23354 -5.32763,-1.59167 -5.14193,-4.67449 v -19.39913 c 0.405797, -3.73565 2.470637, -4.56641 5.14193, -4.90821 h 43.706464 c 2.572701, 0.2361 4.604321, 1.68288 4.674488, 4.90821 v 19.39913 c 0.436089, 3.14572 2.890695, 3.57304 4.908212, 4.67449 z ";
}

/* The content of each message is provided with some margin */
.incomingMessage {
    -fx-text-fill: #FFFFFF;
    -fx-padding: 6px 10px 10px 20px;
}

.outgoingMessage {
    -fx-text-fill: #FFFFFF;
    -fx-padding: 6px 20px 10px 10px;
}

.message .messageText {
    -fx-text-fill: #FFFFFF;
}

.message .dateText {
    -fx-text-fill: #6F8091;
}

/* Where the user may type a message to send it */
#inputMessage {
    -fx-padding: 0 19;
    -fx-background-color: #17212b;
    -fx-background-insets: 0, 6, 0;
    -fx-background-radius: 8em;
    -fx-text-fill: #FFFFFF;
}

/* Or where the user may type a username to sent to him a friendship request */
.defaultInput {
    -fx-padding: 0 19;
    -fx-background-color: #0E1621;
    -fx-background-insets: 0, 6, 0;
    -fx-background-radius: 8em;
    -fx-text-fill: #FFFFFF;
}

.defaultInputError {
    -fx-border-color: #ef5959;
    -fx-border-radius: 8em;
    -fx-border-width: 2px;
}

#inputMessage .content {
    -fx-background-color: #17212b;
    -fx-text-alignment: center;
}

.defaultInput .content {
    -fx-background-color: #0E1621;
    -fx-text-alignment: center;
}

#inputMessage:focused .content, .defaultInput:focused .content {
    -fx-background-color: #17212b;
}

/* All scroll bars are removed from the input area */
#inputMessage .scroll-pane, .defaultInput .scroll-pane {
    -fx-background-color: transparent;
}

#inputMessage .scroll-pane > .viewport, #inputMessage > .viewport,
.defaultInput .scroll-pane > .viewport, .defaultInput > .viewport {
    -fx-background-color: transparent;
}

#inputMessage .scroll-pane .scroll-bar:vertical, #inputMessage .scroll-bar:vertical,
.defaultInput .scroll-pane .scroll-bar:vertical, .defaultInput .scroll-bar:vertical {
    -fx-background-color: inherit;
}

#inputMessage .scroll-pane .scroll-bar:vertical .track, .defaultInput .scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;

}

#inputMessage .scroll-pane .scroll-bar:vertical .increment-button,
#inputMessage .scroll-pane .scroll-bar:vertical .decrement-button,
.defaultInput .scroll-pane .scroll-bar:vertical .increment-button,
.defaultInput .scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;

}

#inputMessage .scroll-pane .scroll-bar .increment-arrow,
#inputMessage .scroll-pane .scroll-bar .decrement-arrow,
.defaultInput .scroll-pane .scroll-bar .increment-arrow,
.defaultInput .scroll-pane .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

#inputMessage .scroll-pane .scroll-bar:vertical .thumb,
.defaultInput .scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}

.warningMessage {
    -fx-font-size: 13px;
    -fx-text-fill: #ef5959;
}

/* To send a typed in message */
#btnSend {
    -fx-background-color: #5288c1;
    -fx-shape: "m 138.55021,89.698036 v 0 l 1.27487,-1.138164 -1.2721,-1.016698 c 4.08005,1.020056 4.33904,0.732386 -0.003,2.154862 z";
}

#btnSend:hover {
    -fx-effect: dropshadow(gaussian, rgba(82, 136, 193, 0.5), 0.5, 0.5, 2, 2);
    -fx-cursor: hand;
}

/* ----- END ----- */


/* ----- Common properties ----- */

/* All scroll-panes are made transparent */
.scroll-pane, .scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* Same background color, instead of the default gray */
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: inherit;
}

/* No idea */
.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;

}

/* No idea */
.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;

}

/* Up and bottom arrows */
.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

/* Scroll bar indicator */
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: derive(#9b9fa4, 10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#9b9fa4, 20.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

/* Adjusts thumb's width */
.scroll-bar:vertical {
    -fx-pref-width: 16.5;
    -fx-padding: 4;
}

/* ----- END ----- */
